#submit-btn{
    background-color: #8332ec;
    color: white;
    padding: 12px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    display: block;
    margin: auto;
}

#submit-btn:hover{
    background-color: #5a18af;
}

#submit-btn:active{
    background:#b66203;
}

th,td{
    padding: 5px;
    text-align: center;
}

table{
    margin: 0 auto;
}


h1{
    text-align: center;
}

